.view_video_contain{
    border-style: groove;
   margin:1.5rem;
   margin-left:24rem;
   margin-right:5rem;
   width:50rem;
}
.home_video_view{
    border: none;
    width: 100%;
    height: 30rem;
    display:flex;
}

.like_icons{
    margin-left: 22rem;
}