.home{
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.home_video{
    border: none;
    max-width: 100%;
    height: auto;
}

.video_contain{
    height: 260px;
    width: 20vw;
    text-decoration: none;
    /* border-style: groove;  */
    /* border-color: #1e1e1e;
    background-color: #1e1e1e; */
    margin-left:3.5rem;
    color: #376f70;
 
}

.avatar{
    padding-top:1rem;
    width:20px;
    height:20px;
}

.date_format{
    display: flex;
   /* width:28rem; */
   height:16rem;
   padding-left: 3rem;
   font-size: 15px;
   color: #f5f5f5f5;
   text-decoration: none;
}