.home{
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.home_name{
    padding: 2rem;
    text-decoration: none;
    border: none;
}
.home_video{
    
    border: none;
    max-width: 100%;
    height: auto;
}

.video_contain{
    height: 300px;
    width: 20vw;
    text-decoration: none;
    /* margin-bottom: 20rem; */
    border-style: groove;
    margin-left:3.5rem;
    color: #376f70;
 
}
