
:root {
    font-size: 10px;
    --grey-text: #828282;
    --black-text: #111;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", Arial, sans-serif;
    min-height: 100vh;
}

.container {
    max-width: 138rem;
    margin: 0 auto;
    padding: 0 2vw;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    text-transform: uppercase;
    cursor: pointer;
} 


.logo {
    flex: 0 0 15rem;
    margin-left: 2.5rem;
}

.site-search {
    flex-grow: 1;
    margin: 0 2.5rem;
}

.menu-btn {
    font-size: 1.6rem;
    color: #888;
    padding: 0 0.5rem;
}

.logo h1 {
    font-family: "Oswald", Arial, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: -0.12rem;
    color: #282828;
    white-space: nowrap;
    cursor: pointer;
}

.logo-icon {
    color: #f00;
    padding-right: 0.5rem;
}

/* Channel info */

.channel-info {
    padding-top: 1.6rem;
    color:#f5f5f5;
    
}

.channel-info .container {
    display: flex;
    align-items: center;
}

.channel-icon {
    flex-basis: 8rem;
    height: 8rem;
    border-radius: 50%;
    overflow: hidden;
}

.channel-title {
    flex: 1 1 auto;
    margin: 0 2rem;
}

.channel-title h1 {
    font-size: 2.4rem;
    font-weight: 400;
    color: var(--black-text);
    white-space: nowrap;
}

.channel-title i {
    font-size: 1.4rem;
    color: #6e6e6e;
}

/* Channel navigation */

.channel-nav {
    background-color: #fafafa;
    padding-bottom: 0.5rem;
    white-space: nowrap;
    overflow-x: auto;
}

.channel-nav ul {
    display: flex;
}

.nav-item a {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--grey-text);
    padding: 1.5rem 3.2rem;
}

.nav-item a.current {
    color: var(--black-text);
    border-bottom: 0.3rem solid #6e6e6e;
}

.nav-item a:hover {
    color: var(--black-text);
}


