.register-main{
    min-height: 88.6vh;
    min-width: 100vw;
    background: linear-gradient(to right, #313131 50%, #202020 50%);

}

#link-signin{
    text-decoration: none;
    cursor: pointer;
    color: #005198;
}
.form{
    display: flex;
    justify-content: center ;
    /* background: rgba(236,236,236,0.7); */
}
.body{    
    height: 100%;
    width: 60%;
    /* box-shadow: 0rem 0rem 1rem 0rem grey; */
    margin: 2rem auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #bbbaba;
    border-radius: 1rem;
}
.container{
    height: 80%;
    width: 60%;
    margin: 2rem auto;
           
}
.bottom{
    margin-left: 22rem;
}

.button_rev_1 {
    background-color: #376f70;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 111, 0.2) 0 -25px 18px -14px inset,rgba(44, 187, 111, 0.2) 0 1px 2px,rgba(44, 187, 111, 0.2) 0 2px 4px,rgba(44, 187, 111, 0.2) 0 4px 8px,rgba(44, 187, 111, 0.2) 0 8px 16px,rgba(44, 187, 111, 0.2) 0 16px 32px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    margin-left: 25rem;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 2rem;
    margin-bottom: 3rem;
  }
  
  /* .button_rev_1:hover {
    box-shadow: rgba(187, 44, 44, 0.35) (0 -25px 18px -14px inrgba(187, 44, 44, 0.25).25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }
   */