

.main-login{
    min-height: 88.6vh;
    min-width: 100vw;
    overflow-x: hidden;
    color: #4dd6b6;
    background: linear-gradient(to right, #313131 50%, #202020 50%);
    /* background:#313131; */
}

.login-container{
    height: 75vh;
    width: 30%;
    background: linear-gradient(#bbbaba, #bbbaba);
    border-radius: 1rem;
    margin: 2rem auto;
    /* box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(255, 255, 255); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.link{
    text-decoration: none;
    color: #005198;
}
.footer{
    color: rgb(0, 0, 0);
    margin-left: 4rem;
}

.left-side{
    margin: 2rem 2rem;
    box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58,57,57);
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left-side.img-class{
    height: 4rem;
}
#img-id{
    height: 65%;
    object-fit: cover;
    margin-left: 10rem;
}
.right-side{
    margin: 2rem 2rem;
    box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58,57,57);
    height: 80%;
    width: 100%;
    padding-bottom: 1.5rem;
}.signinImg{
    height: 60%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    display: block;
    border: none;
    height: 2rem;
    width : 70%;    
    margin: auto;
    margin-bottom: 1.5rem;
    padding: 0.2rem 1rem;
    color: rgb(0, 0, 0);
    transition: all 0.1s ease-in-out;
}
input:focus{
    outline: none;
    border: none;
}
input:hover{
    outline: 0.5px solid #252525;
    box-shadow: 2px 2px 9px -1px #383636;
}

label{
    display: block;
    text-align: left;
    width: 70%;
    margin: auto;
    font-size: small;
    color: rgb(0, 0, 0);
    margin-bottom: 0.5rem;
    
}

#sub-btn{
        width: 35%;
        background: #cfcccc;
        color: rgb(0, 0, 0);
        border: none;
        cursor: pointer;
        height: 6vh;
        border-radius: 10%;
        transition: all 0.3 ease;
        margin-left: 8rem;
        margin-bottom: 2rem;
}
#sub-btn:hover{
    box-shadow: 4px 3px 9px -1px grey;
    transform: translateY(-1px);
}

/*-------------------------------------------RIGHT SIDE-----------------------------------------*/

.welcomenote{
    color: black;
}

.note{
    color: grey;
    font-size: small;
}

#signin_img{
    margin-left: 100%;
    width: 100%;
    object-fit: cover;
}

.google_btn{
    padding: 0.5rem 0.5rem;
    color: rgb(241, 4, 43);
    border-radius: 10%;
    border: none;
    cursor: pointer;
    transition: all 0.3 ease;
}

.google_btn:hover{
    box-shadow: 4px 3px 9px -1px grey;
    transform: translateY(-1px);
}