

.main-login{
    min-height: 88.6vh;
    min-width: 100vw;
    overflow-x: hidden;
    color: #4dd6b6;
    background: linear-gradient(to right, #313131 50%, #202020 50%);
    /* background:#313131; */
}

.login-container{
    height: 75vh;
    width: 30%;
    background: linear-gradient(#bbbaba, #bbbaba);
    border-radius: 1rem;
    margin: 2rem auto;
    /* box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(255, 255, 255); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.link{
    text-decoration: none;
    color: #005198;
}
.footer{
    color: rgb(0, 0, 0);
    margin-left: 4rem;
}

.left-side{
    margin: 2rem 2rem;
    box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58,57,57);
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left-side.img-class{
    height: 4rem;
}
#img-id{
    height: 65%;
    object-fit: cover;
    margin-left: 10rem;
}
.right-side{
    margin: 2rem 2rem;
    box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58,57,57);
    height: 80%;
    width: 100%;
    padding-bottom: 1.5rem;
}.signinImg{
    height: 60%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    display: block;
    border: none;
    height: 2rem;
    width : 70%;    
    margin: auto;
    margin-bottom: 1.5rem;
    padding: 0.2rem 1rem;
    color: rgb(0, 0, 0);
    transition: all 0.1s ease-in-out;
}
input:focus{
    outline: none;
    border: none;
}
input:hover{
    outline: 0.5px solid #252525;
    box-shadow: 2px 2px 9px -1px #383636;
}

label{
    display: block;
    text-align: left;
    width: 70%;
    margin: auto;
    font-size: small;
    color: rgb(0, 0, 0);
    margin-bottom: 0.5rem;
    
}

.button_rev {
    background-color: #376f70;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 111, 0.2) 0 -25px 18px -14px inset,rgba(44, 187, 111, 0.2) 0 1px 2px,rgba(44, 187, 111, 0.2) 0 2px 4px,rgba(44, 187, 111, 0.2) 0 4px 8px,rgba(44, 187, 111, 0.2) 0 8px 16px,rgba(44, 187, 111, 0.2) 0 16px 32px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    margin-left: 9rem;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 2rem;
    margin-bottom: 3rem;
  }
  
  /* .button_rev:hover {
    box-shadow: rgba(187, 44, 44, 0.35) (0 -25px 18px -14px inrgba(187, 44, 44, 0.25).25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  } */
  

  .button_rev_go{
    background-color: #376f70;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 111, 0.2) 0 -25px 18px -14px inset,rgba(44, 187, 111, 0.2) 0 1px 2px,rgba(44, 187, 111, 0.2) 0 2px 4px,rgba(44, 187, 111, 0.2) 0 4px 8px,rgba(44, 187, 111, 0.2) 0 8px 16px,rgba(44, 187, 111, 0.2) 0 16px 32px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    margin-top: 15px;
  }

  .logout_profile{
    color: #366d6e;
    padding: 5rem;
  }

  .name{
    margin-bottom: 3rem;
  }
  .button_rev_out{
    
    background-color: #376f70;
    border-radius: 100px;
    /* box-shadow: rgba(44, 187, 111, 0.2) 0 -25px 18px -14px inset,rgba(44, 187, 111, 0.2) 0 1px 2px,rgba(44, 187, 111, 0.2) 0 2px 4px,rgba(44, 187, 111, 0.2) 0 4px 8px,rgba(44, 187, 111, 0.2) 0 8px 16px,rgba(44, 187, 111, 0.2) 0 16px 32px; */
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    margin-left: 9rem;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 2rem;
    margin-bottom: 3rem;
  }